<div class="flex h-16 items-center justify-center rounded-2xl bg-chill-900">
  <span class="items-center text-center text-xl text-chill-300"
    >{{ 'edit country' | titlecase }}
  </span>
</div>
<ng-container *ngIf="loading; else loaded">
  <app-loading></app-loading>
</ng-container>

<ng-template #loaded>
  <app-country-form
    [country]="country()"
    (clickSubmit)="onSubmit($event)"
    (clickBack)="backButton()">
  </app-country-form>
  <h2 *ngIf="!country">Id Country not found</h2>
</ng-template>
