<form
  (submit)="onSubmitClick()"
  [formGroup]="countryForm"
  *ngIf="country"
  class="m-auto mt-5 w-full max-w-xs rounded-2xl border border-chill-500 p-5">
  <div *ngIf="!newCountry" class="mb-6 md:flex md:items-center">
    <div class="md:w-1/3">
      <label
        class="mb-1 block pr-4 text-chill-300 md:mb-0 md:text-right"
        for="inline-code">
        ID
      </label>
    </div>
    <div class="text-center md:w-2/3">
      <span class="text-xl text-chill-200">{{ country.id }} </span>
    </div>
  </div>

  <div class="mb-6 md:flex md:items-center">
    <div class="md:w-1/3">
      <label
        for="inline-full-name"
        class="mb-1 block pr-4 text-chill-300 md:mb-0 md:text-right"
        >Name</label
      >
    </div>
    <div class="md:w-2/3">
      <input
        class="w-full rounded border border-chill-200 bg-gray-200 px-4 py-2 text-chill-700 focus:border-chill-500 focus:bg-white focus:outline-none"
        type="text"
        placeholder="Name"
        formControlName="name" />
      <span *ngIf="isValidField('name')" class="text-red-400">Required</span>
    </div>
  </div>
  <div class="mb-6 md:flex md:items-center">
    <div class="md:w-1/3">
      <label
        for="inline-code"
        class="mb-1 block pr-4 text-chill-300 md:mb-0 md:text-right"
        >Code</label
      >
    </div>
    <div class="md:w-2/3">
      <input
        class="w-full rounded border border-chill-200 bg-gray-200 px-4 py-2 text-chill-700 focus:border-chill-500 focus:bg-white focus:outline-none"
        type="text"
        placeholder="Code"
        formControlName="code" />
      <span *ngIf="isValidField('code')" class="text-red-400"
        >Required: Format "XX"</span
      >
    </div>
  </div>
  <div class="md:flex md:items-center">
    <div class="md:w-1/3"></div>
    <div class="flex justify-between md:w-2/3">
      <button
        [ngClass]="{
          'text-white py-2 px-4 rounded transition-all duration-200': true,
          'bg-red-800/50 hover:bg-red-600/50': countryForm.invalid,
          'bg-chill-500 hover:bg-chill-400': !countryForm.invalid
        }"
        type="submit">
        Submit
      </button>
      <button
        (click)="onBackClick()"
        class="rounded bg-chill-700 px-4 py-2 text-white shadow transition-all duration-200 hover:bg-chill-400">
        Back
      </button>
    </div>
  </div>
</form>
