@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1440px;
  margin: auto;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #325158;
  color: #438e96;
}
