<div
  class="mb-3 flex h-16 items-center justify-center rounded-2xl bg-chill-900">
  <span class="items-center text-center text-xl text-chill-300">
    {{ 'Page Not Found' | titlecase }}
  </span>
</div>

<div class="flex flex-wrap justify-center gap-2">
  <div class="rounded-xl border-4 border-chill-600 p-3 text-center">
    <h2>The page you requested could not be found.</h2>
    <p>Please try again or go back to the home page.</p>
    <a routerLink="/" class="text-chill-300 underline">Home Page</a>
  </div>
</div>
